.user{
	width: 1180px;
	height: 100px;
}
.user .menu-list{
	left: 430px;
	top:80px;
	color: #00a1d6;
	position: absolute;
}
.user .menu-list>li{
	font-size: 40px;
	list-style: none;
}
.user .menu-list .title{
	height: 70px;
	left: 10px;
	top: 30px;
	position: relative;
}
.user .menu-list .text{
	left: 280px;
	top:-50px;
	width:180px;
	height:50px;
	line-height:42px;
	color: #ff69b4;
	position: relative;
}
.user .button{
	left: 1050px;
	top:336px;
	position: absolute;
}
